global:
  checkNewVersion: false
  sendAnonymousUsage: false
log:
  level: DEBUG
api:
  dashboard: true
  insecure: true
entryPoints:
  http:
    address: :81
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  http-internal:
    address: :80
  https:
    address: :444
  https-internal:
    address: :443
  ssh:
    address: ":22"
certificatesResolvers:
  cloudflare:
    acme:
      email: "dominik.pall.eu@gmail.com"
      storage:  /var/traefik/certs/cloudflare-acme.json
      caServer: 'https://acme-v02.api.letsencrypt.org/directory'
      keyType: EC256
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "8.8.8.8:53"
providers:
  docker:
    endpoint: "unix://var/run/docker.sock"
    exposedByDefault: false
